form {
  margin: 0 auto;
}

fieldset {
  border: none;
}

legend  {
  text-align: center;
}

label {
  display: block;
}

input {
  margin: 0 auto;
  display: block;
  text-align: center;
}

img {
  padding: .25em;
}
