nav {
  width: 100%;
}

li {
  display: inline;
}

.crisis {
  background-color: $crisisColor;
}

a {
  font-weight: bold;
  color: $linkColor;
}

ul {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 0;
}
