<section class='about'>
    <h2>About iFeel</h2>
    <p>iFeel is an app that was created by Jessica Dembe as a final project for The
      Iron Yard Front-End Engineering course in December 2016-January 2017. iFeel is
      an app that seeks to use technology in change health behaviors in regards to
      mental health. iFeel was designed to be easily adapted for users of all ages,
      reading levels, and disability.<p>

    <p>iFeelis an anxiety and depression management
      tool to help you track your mood as well as document why you are feeling the way
      you feel today. This tool can aid in the management of depression with a board
      certified medical professional.</p>

      <p>iFeel is NOT intended to diagnose or
      treat anxiety or depression. iFeel is not a subtitution for medical treatment
      of anxiety and/or depresssion. If you feel that you are experiencing anxiety
      and/or depression, feel free to seek treatment from a mental health professional.</p>

      <h2>Any questions, suggestions, or comments about the app?</h2>
      <p> Feel free to check out the project on Github or contact me via Twitter @jmdembe</p>
</section>
