<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <h2>How are you feeling today</h2>
    <form>
      <select name='mood'>
        <option value='awful'>Awful</option>
        <option value='not-good'>Not Good</option>
        <option value='okay'>Okay</option>
        <option value='good'>Good</option>
        <option value='great'>Great</option>
    </form>
    <button>Diary</button>
    <button>Progress</button>
    <button>Crisis</button>
  </body>
</html>
