    <h1>Hello!</h1>
    <form name>
      <fieldset>
        <legend>How are you feeling today?</legend>
        <label><input type='radio' name='mood' value='awful'/><img src='/img/Angry-Smiley-Face-300px.png' alt='Angry'/>Angry</label>
        <label><input type='radio' name='mood' value='notgood'/><img src='/img/Unhappy-Face-300px.png' alt='Unhappy'/>Unhappy</label>
        <label><input type='radio' name='mood' value='okay'/><img src='/img/Neutral-Smiley-Face-300px.png' alt='Okay'/>Okay</label>
        <label><input type='radio' name='mood' value='good'/><img src='/img/Sincere-Smiley-Face-300px.png' alt='Good'/>Good</label>
        <label><input type='radio' name='mood' value='great'/><img src='/img/Awesome-smiley-300px0.png' alt='Great'/>Great</label>
      </fieldset>
      <nav>
        <ul>
          <li><a>Diary</a></li>
          <li><a>Progress</a></li>
          <li><a>Crisis</a></li>
          <li><a>About this app</a></li>
      </nav>
    </form>
