    <h1>Hello!</h1>
    <form name>
      <fieldset>
        <legend>How are you feeling today?</legend>
        <label><input type='radio' name='mood' value="awful"/>Angry</label>
        <label><input type='radio' name='mood' value='notgood'/>Not Good</label>
        <label><input type='radio' name='mood' value='okay'/>Okay</label>
        <label><input type='radio' name='mood' value='good'/>Good</label>
        <label><input type='radio' name='mood' value='great'/>Great</label>
      </fieldset>
      <nav>
        <ul>
          <li><a>Diary</a></li>
          <li><a>Progress</a></li>
          <li><a>Crisis</a></li>
          <li><a>About this app</a></li>
      </nav>
    </form>
