form {
  margin: 0 auto;

  fieldset {
    border: none;
  }

  legend  {
    text-align: center;
  }

  input {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

label {
  display: block;
}


img {
  padding: .25em;
}

canvas {
  margin: 0 auto;
}

#my-login-button {
  text-align: center;
}
