form {
  margin: 0 auto;

  fieldset {
    border: none;
  }

  legend  {
    text-align: center;
  }

  input {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

a {
  font-weight: $boldWeight;
  color: $linkColor;
  padding: $linkPadding;
  border-radius: $linkPadding;
  text-decoration: none;


  &.start {
      background-color: #06576d;
  }

  &:hover {
    background-color: #0A9AC1;
    transition: $buttonTransition;
  }
}

p {
  margin-left: $marginLeft;

  & .info {
    margin-bottom: 0;
  }

}

section {
  margin: 0 auto;

  &.org-title {
    margin-bottom: 0;
  }

  &.about {
    margin: 0 auto;
  }
}
@media screen and (min-width: $desktopWidth) {
  .option {
    display: inline;
    @include square($inputSize);
    padding: $paddingSize;
  }
}
