form {
  margin: 0 auto;

  fieldset {
    border: none;
  }

  legend  {
    text-align: center;
  }

  input {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

label {
  display: block;
}


img {
  padding: .25em;
}

canvas {

  text-align: left;
  @include chartSize($chartHeight, $chartWidth);
}

.google-button {
  text-align: center;
}

section .org-title {
  margin-bottom: .5em;
}

.diary {
  @include chartSize($chartHeight, $chartWidth);
}
