footer {
  text-align: center;
  font-weight: $lightWeight;

  nav {
    width: 100%;
    border-top: 8px;
    border-bottom: 8px;
    padding: 10px;
  }

  li {
    background-color: $linkBackgroundColor;
    padding: $linkPadding;
    border-radius: $linkPadding;

    &:hover {
      background-color: #0A9AC1;
      transition: $buttonTransition;
    }

  }
}

a {
  font-weight: $boldWeight;
  color: $linkColor;
  padding: $paddingSize;
  text-decoration: none;

  &.start {
    color: $startLinkColor;
  }
}

ul {
  text-align: center;
  width: 100%;
  padding: 0;
}

// Mobile Styles

@media screen and (min-width: 800px) {
    li {
        display: inline;
        margin: $mobileMargin;
    }
}
