footer {
  text-align: center;
  font-weight: $lightWeight;

  nav {
    width: 100%;
    border-top: $borderSpacing;
    border-bottom: $borderSpacing;
    padding: 10px;
  }

  li {
    background-color: $linkBackgroundColor;
    padding: $linkPadding;
    border-radius: $linkPadding;

    &:hover {
      background-color: #0A9AC1;
      transition: $buttonTransition;
    }

  }
}

ul {
  text-align: center;
  width: 100%;
  padding: 0;
}

// Mobile Styles
