footer {
  text-align: center;
  font-weight: $lightWeight;

  nav {
    width: 100%;
  }

  li {
    display: inline;
    padding: $linkPadding;
    border-radius: $linkPadding;
  }
}

.crisis {
  background-color: $crisisColor;
  opacity: $opaque;
}

a {
  font-weight: $boldWeight;
  color: $linkColor;

  &:hover {
    text-decoration: none;
  }
}

.crisis a {
  color: $headerColor;
  font-weight: bold;
}

ul {
  text-align: center;
  width: 100%;
  padding: 0;
}
