
//Font Variables
$backgroundColor: #E1F3F8;
$boldWeight: 700;
$boldText: bold;
$chartHeight: 320px;
$chartWidth: 480px;
$crisisColor: #FF0000;
$headerColor: #111111;
$secondHeaderColor: #527578;
$lightWeight: 300;
$linkColor: #333333;
$linkPadding: 10px;
$opaque: 0.5;
$titleBottomPadding: .5em;
