
//Font Variables
$backgroundColor: #E1F3F8;
$boldWeight: 700;
$boldText: bold;
$buttonTransition: background-color .3s linear;
$chartHeight: 320px;
$chartWidth: 480px;
$headerColor: #1E515F;
$linkBackgroundColor: #0086AB;
$linkColor: #FFFFFF;
$linkPadding: 10px;
$lightWeight: 300;
$paddingSize: 8px;
$startLinkColor: #000000;
$titleBottomPadding: .5em;
